## RQ 4

In [2]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
#this way we can visualize in the notebook
%matplotlib inline

In [3]:
players = pd.read_json("C:/Users/Luca/Desktop/-/Università/Magistrale/Primo anno/Primo semestre/ADM/Homeworks/Homework #2/Data/players.json")

In [4]:
events = pd.read_json("C:/Users/Luca/Desktop/-/Università/Magistrale/Primo anno/Primo semestre/ADM/Homeworks/Homework #2/Data/events/events_England.json")
#events

In [5]:
#we are only interested in the Passes 
passes = events[events["eventName"] == "Pass"][["id", "matchId", "playerId", "tags", "teamId"]] 
#passes

In [6]:
# Merge togheter table player and table passes (sub-table of events)
newdf1 = passes.merge(players, left_on='playerId', right_on='wyId') 
#newdf1

In [7]:
# we added a new column with the total attempts
newdf1['total_attempts'] = newdf1.groupby('playerId')['playerId'].transform('count') 
newdf1 = newdf1[["playerId", "lastName", "tags", "total_attempts"]]
#newdf1

In [9]:
# add a column that counts every completed pass giving 1 if tag == 1801 and 0 if it is not
newdf1['tag'] = newdf1.apply(lambda row: 1 if row.tags[0]['id'] == 1801 else 0, axis=1)
# newdf1

In [10]:
# adding a column with the winning attempts
newdf1['winning_attempts'] = newdf1.groupby('playerId')['tag'].transform('sum')
newdf1 = newdf1[newdf1 ["total_attempts"] > 380]

In [11]:
# we grouped by playerID and created a new column called Ratio
temp = newdf1.groupby('playerId',as_index=False).last()
temp['ratio'] = temp["winning_attempts"]/temp["total_attempts"]
temp[["playerId", "lastName", "total_attempts", "winning_attempts","ratio"]].head(10)

,playerId,lastName,total_attempts,winning_attempts,ratio
0,36,Alderweireld,898,762,0.848552
1,48,Vertonghen,2370,2013,0.849367
2,54,Dannemann Eriksen,2196,1677,0.763661
3,74,Klavan,1130,1017,0.900000
4,93,Berg Gu\u00f0munds\u00adson,840,528,0.628571
5,107,Pieters,1041,694,0.666667
6,116,Wijnaldum,1225,1069,0.872653
7,160,Janmaat,822,567,0.689781
8,173,van La Parra,690,477,0.691304
9,262,Fer,587,460,0.783646